[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-tailwind = "*"
pillow = "*"
python-dotenv = "*"
requests = "*"
pyrebase4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
