{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Ecom Classic</title>
		<!-- <script src="https://kit.fontawesome.com/bc4deb0f1d.js" crossorigin="anonymous" defer></script> -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<!-- unicorn icons -->
		<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
		<!-- Bootstrap CSS only -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
		<!-- Tailwind css -->
		{% tailwind_css %}
	</head>

	<body class="">
		<div class="messages h-fit z-50 text-white">
			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
		<div class="">
			{% block content %}

			{% endblock %}
		</div>
		 
	</body>
	<!--Bootstrap JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous"></script>
	<script src="{% static 'js/main.js' %}" defer></script>
	<script defer>
		const products = document.querySelector('.products')
		const quote = document.querySelector('.quote')
		const navIcon = document.getElementById('nav-icon')
		const navItems = document.querySelector('.nav-items')
		const logo = document.querySelector('.logo')
		const cartItems = document.querySelector('.cart-items')
		

		navIcon.addEventListener('click', () => {
			navItems.classList.toggle('toggle')
		})

		window.onload = () => {
			logo.classList.add('loaded')
			navItems.classList.add('loaded')
			quote.classList.add('loaded')
			cartItems.classList.add('loaded')
		}

		window.addEventListener('scroll', () => {
			products.classList.toggle('loaded', window.scrollY > 0)
			// cartItems.classList.toggle('loaded', window.scrollY > 0)
		})

	</script>

</html>
