{% extends 'base.html' %}

{% block content %}
<div class="customers flex flex-col px-2">
    <div class="flex flex-col items-start mt-20">
        <div class="back flex justify-start items-center cursor-pointer group my-10 relative left-10">
            <i class="uil uil-arrow-left text-2xl group-hover:-translate-x-10 transition duration-300 ease-in-out"></i>
            <a href="/dashboard/" class="ml-2 hover:text-black">Back to dashboard</a>
        </div>
        <h1 class="text-2xl font-bold">Transactions</h1>
        <div class="mt-20">
            <table class="table-auto">
                <thead class="uppercase text-left">
                    <tr>
                        <th class="py-3 px-6">Receipt</th>
                        <th class="py-3 px-6">Amount</th>
                        <th class="py-3 px-6">Phone</th>
                        <th class="py-3 px-6">Date</th>

                    </tr>
                </thead>
                <tbody>

                    {% for transaction in transactions %}
                    {% if transaction.is_succesful %}
                    <tr>
                        <td class="py-4 px-6 ">
                            {{transaction.receipt_number}}
                        </td>
                        <td class="py-4 px-6 ">
                            {{transaction.amount}}
                        </td>
                        <td class="py-4 px-6 ">
                            {{transaction.phone_number}}
                        </td>
                        <td class="py-4 px-6 ">
                            {{transaction.date}}
                        </td>

                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}