@tailwind base;
@tailwind components;
@tailwind utilities;


.field input, .field select {
    border-radius: 10px;
    width: 250px;
    color: black;
}


.product-form .field:last-child input {
 width: auto;
}

.errorlist {
    color: red;
}




@media screen and (min-width: 1300px) {
    .slide-show {
        transform: translateY(-400px);
    }
}