{% extends 'base.html' %}

{% block content %}
<div class="cart p-2 w-full h-fit min-h-screen">
    <div class="text-black">
        {% include 'nav.html' %}
    </div>

    <div class="cart-items relative  md:px-16 xl:px-56 w-full flex flex-col items-start">
    {% if cart_items %}
        <div class="flex pb-10">
            <p class="text-textSecondary">Cart</p>
            <i class="uil uil-angle-right"></i>
            <p>Checkout</p>
            <i class="uil uil-angle-right"></i>
            <p>Payment</p>
        </div>
        <div class="flex justify-between w-full">
            <div class="text-xl">
                <p>Items: <span class="cart_items"> {{cart.cart_items}}</span></p>
                <p>Cart Total: <span class="cart_total"> {{cart.cart_total}} </span></p>
            </div>
            <div class="group w-1/2">
                <a href="/shop/checkout" class="text-textPrimary hover:text-textSecondary flex justify-center">
                    <p class="mr-3">Checkout</p>
                    <i class="uil uil-arrow-right group-hover:translate-x-4 transition duration-300 ease-in-out"></i>
                </a>
            </div>
        </div>
        {% for item in cart_items %}
        <div id="{{item.product.id}}" class="cart-item my-10 flex items-center justify-between p-3 w-full border border-backgroundSecondary rounded-lg">
            <div class="item-img w-1/4 md:w-52">
                <img src="{{item.product.image_url}}" alt="{{item.product.name}} image">
            </div>
            <div>
                <h1 class="font-medium text-xl">{{item.product.name}}</h1>
                <p>ksh {{item.product.price}}</p>
            </div>
            <div class="flex items-center justify-between  w-1/5 p-2 ">
                <i class="uil uil-minus update-cart cursor-pointer" data-productId={{item.product.id}} data-action="remove"></i>
                <p id="product-quantity-{{item.product.id}}" class="">{{item.quantity}}</p>
                <i class="uil uil-plus update-cart cursor-pointer" data-productId={{item.product.id}} data-action="add"></i>
            </div>
            <div>
                <i class="uil uil-trash-alt update-cart text-2xl text-danger hover:animate-bounce cursor-pointer" data-productId={{item.product.id}} data-action="delete"></i>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <div>
        <div class="back flex justify-start items-center cursor-pointer group my-10">
            <i class="uil uil-arrow-left text-2xl group-hover:-translate-x-10 transition duration-300 ease-in-out"></i>
            <p class="ml-2">Continue shopping</p>
        </div>
        <p class="text-2xl">&#128546; No items in your cart</p>
    </div>
    {% endif %}
    </div>
</div>


{% endblock %}