{% extends 'base.html' %}

{% block content %}

<div class="process-order flex flex-col items-center">
    <div class="p-5 md:p-40">
        <p class="my-10">Confirm that the number below is your m-pesa number.</p>
        <form action="#">
            <div class="field">
                <input type="text" value="{{phone}}">
            </div>
            
            <button class="bg-slate-900 my-4 text-white p-2 rounded-lg" type="submit">Proceed</button>
        </form>
    </div> 
</div>

{% endblock %}