{% extends 'base.html' %}


{% block content %}
<div class="w-full text-black relative">
    {% include 'slide_show.html' %}
    {% include 'nav.html' %}

    <div class="grid grid-cols-2 md:grid-cols-3 xl:flex xl:flex-row xl:flex-wrap products mx-10 sm:mx-20 md:mx-40 items-center">
        <div class="m-5">
            <div class="categories">
                <ul>
                    <li class="leading-2" ><a href="/shop/category/T-Shirt">All</a></li>
                    <li><a href="/shop/category/T-Shirt">T-Shirts</a></li>
                    <li><a href="/shop/category/Painting">Paintings</a></li>
                </ul>
            </div>
        </div>
        {% for product in object_list %}
        
        {% include 'product.html' %}
        
        {% endfor %}
        
    </div>
</div>
<script defer>
    const navIcon = document.getElementById('nav-icon')
    const navItems = document.querySelector('.nav-items')

    navIcon.addEventListener('click', () => {
        navItems.classList.toggle('toggle')
    })
</script>
{% endblock %}