{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="w-full h-screen overflow-y-hidden">
    <div class="slide-show w-full">
        <div id="carouselExampleSlidesOnly" class="carousel slide h-full" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'backgrounds/purple-space.jpg' %}" class="d-block w-100 h-full" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'backgrounds/earthfromspace.jpg' %}" class="d-block w-100 h-full" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'backgrounds/milky-way.jpg' %}" class="d-block w-100 h-full" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'backgrounds/space-junk.jpg' %}" class="d-block w-100 h-full" alt="...">
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}