{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="shop w-full text-white">
    {% include 'slide_show.html' %}
    {% include 'nav.html' %}
    <div class="products p-5 md:p-20 flex flex-col items-center text-black">
        {% if latest_product %}
            <div class="flex flex-col items-start">

            <h1 class="text-2xl p-10 underline">New release</h1>
            <div class="latest sm:flex">
                <div class="md:w-96">
                    <img src="{{latest_product.image_url}}" alt="latest_product" />
                </div>
                <div  class="m-4 sm:m-8 flex flex-col justify-between">
                    <div>
                        <h1 class="text-2xl">{{latest_product.name}}</h1>
                        <p class="text-xl">ksh {{latest_product.price}}</p>
                        <hr/>
                    </div>
                    
                    <div class="m-2">
                        <button class="update-cart border-2 flex group py-2 px-4 w-56" data-productId={{latest_product.id}} data-action='add'>
                            <p> Add to cart</p>
                            <i class="uil uil-arrow-right group-hover:translate-x-14 group-hover:visible transform duration-300 ease-in-out ml-2"></i>
                        </button>
                    </div>
                </div>
            </div>
            </div>
            {% endif %}

            {% if best_sellers %}

            <div class="flex flex-col items-center mt-40">
                <h1 class="text-2xl p-10 underline">Best sellers</h1>

                <div class="best-sellers grid grid-cols-2 md:grid-cols-3 xl:flex xl:flex-row xl:flex-wrap px-10 sm:px-20 md:px-40 items-center">
                    {% for product in best_sellers %}
        
                    {% include 'product.html' %}
                    
                    {% endfor %}
                </div>
                <div class="mt-10">
                    <button class="border-2 flex group py-2 px-4 w-56 bg-black text-white">
                        <p> View All</p>
                        <i class="uil uil-arrow-right group-hover:translate-x-14 group-hover:visible transform duration-300 ease-in-out ml-2"></i>
                    </button>
                </div>
            </div>
            {% endif %}

            <div class="w-full flex mt-32 justify-center">
                <a href="/shop/category/Painting" class="hover:text-black w-2/3 md:w-96">
                    <div class="relative group">
                        <img class="group-hover:opacity-50 transition duration-300 ease-in-out" src="{% static 'backgrounds/artwork-display.jpg' %}" alt="">
                        <p class="absolute bottom-5 left-3 font-bold  underline group-hover:scale-110 transition duration-300 ease-in-out">ARTWORKS</p>
                    </div>
                </a>
                <a href="/shop/category/T-Shirt" class="hover:text-black w-1/3 md:w-64">
                    <div class="relative group">
                        <img class="group-hover:opacity-50 transition duration-300 ease-in-out" src="{% static 'backgrounds/tshirts-display.jpg' %}" alt="">
                        <p class="absolute bottom-5 left-3 font-bold underline group-hover:scale-110 transition duration-300 ease-in-out">T-SHIRTS</p>
                    </div>
                </a>
            </div> 
    </div>
    <div class="relative mt-44">
        {% include 'footer.html' %}
    </div>
</div>
    
{% endblock %}