{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="shop w-full mb-20 px-3 md:px-20 xl:px-44 relative h-fit text-textPrimary">


    <div class="products flex flex-col items-center h-fit ">
        {% if latest_product %}

        <div class="flex flex-col items-center  text-textPrimary">
            <div
                class="best-sellers grid grid-cols-2 md:grid-cols-3 xl:flex xl:flex-row xl:flex-wrap sm:px-20 md:px-40 items-center">
                {% for product in latest_product %}

                {% include 'product.html' %}

                {% endfor %}
            </div>
            <a class="mt-10" href="/shop/products">
                <button class="border-2 flex group py-2 px-4 w-56 bg-black text-white">
                    <p> View All</p>
                    <i
                        class="uil uil-arrow-right group-hover:translate-x-14 group-hover:visible transform duration-300 ease-in-out ml-2"></i>
                </button>
            </a>
        </div>
        {% endif %}

        <div class="w-full flex my-32 justify-center flex-wrap">
            {% for category in categories %}
            <a href="/shop/category/{{category.name}}" class="hover:text-textSecondary">
                <div class="w-fit h-20 px-2 md:px-4 xl:px-6 flex items-center bg-backgroundSecondary rounded mx-2 my-4 opacity-80
                hover:opacity-100 transition duration-300 ease-out
                ">
                    <p class="font-bold text-xl md:text-2xl xl:text-3xl">{{category.name}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
        {% if discounts %}
        <div
            class="best-sellers grid grid-cols-2 md:grid-cols-3 xl:flex xl:flex-row xl:flex-wrap sm:px-20 md:px-40 items-center">
            {% for discount in discounts %}
            <a href="/shop/product/{{discount.product.id}}" class="text-textPrimary hover:text-black">
                <div
                    class="hover:scale-105 group transition duration-200 ease-in my-20 p-2 relative  h-72 rounded-lg  text-black">
                    <img src="{{discount.product.image_url}}" alt="{{discount.product.name}}-image"
                        class="h-full rounded-none group-hover:opacity-80 transition duration-300 ease-in">
                    <div class="absolute top-1/2 left-1/4">
                        <p class="text-2xl -rotate-45 bg-backgroundSecondary px-2">{{discount.percentage}}% off!</p>
                    </div>
                    <div class="flex justify-between items-center text-textPrimary">
                        <div class="p-3">
                            <h2 class="font-semibold">{{discount.product.name}}</h2>
                            <p>ksh {{discount.new_price}}</p>
                            <p class="text-textSecondary">{{discount.product.inventory}} left</p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        {% else %}
        <div class="flex justify-center">
            <p>Keep an eye out for the best discount offers.</p>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}