{% extends "base.html" %}

{% block content %}
<div class="min-h-screen flex flex-col items-center">

    <form method="post" action="{% url 'register' %}" class="relative top-20">
        {% csrf_token %}
        {% for field in form %}
        <div class="field flex flex-col text-textPrimary text-xl my-2">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}

        <input class="bg-backgroundSecondary p-2 my-2 rounded" type="submit" value="register">

        {# Assumes you set up the password_reset view in your URLconf #}
        <p><a href="{% url 'login' %}">Login instead</a></p>
    </form>
</div>
{% endblock %}