<nav class=" nav absolute top-10 flex flex-row px-11 md:px-24 xl:px-64  justify-between w-full text-xl xl:text-2xl">
        <div class="transition duration-200 ease-in">
            <h1>Art Lounge</h1>
        </div>
        <div class="nav-items">
            <ul class="flex justify-between">
               <a href="/shop" class="mr-10">Home</a>
               <a href="#" class="mr-10">About</a>
                <div class="dropdown flex flex-col relative justify-between  mr-10">
                    <a href="#">Products <i class="uil uil-angle-double-down"></i></a>
                    <div class="dropdown-items flex flex-col items-end">
                        <a href="/shop/category/Painting">Paintings</a>
                        <a href="/shop/category/T-Shirt">T-Shirts</a>
                    </div>
                </div>
                <a href="#" class="search mr-10"><i class="uil uil-search"></i></a>
                <a href="/shop/cart" class="search"><i class="uil uil-shopping-cart"></i></a>
            </ul>
        </div>
        <div class="nav-icon absolute right-8 ">
            <i class="uil uil-bars" id="nav-icon"></i>
            <a href="#"><i class="uil uil-search"></i></a>
            <a href="/shop/cart"><i class="uil uil-shopping-cart"></i></a>
        </div>  
</nav>

<script defer>
    const navIcon = document.getElementById('nav-icon')
    const navItems = document.querySelector('.nav-items')

    navIcon.addEventListener('click', () => {
        navItems.classList.toggle('toggle')
    })
</script>